.flex-shrink {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.content-financing {
  padding-top: 12px;
}
.content-financing .analysis-item {
  padding-bottom: 20px;
}
.content-financing .analysis-item .analysis-item-content {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 11px;
}
.content-financing .analysis-item .analysis-item-content strong {
  color: #ed7d31;
  font-weight: bold;
}
.content-financing .analysis-item .content-table {
  border: 1px solid #ebf1fc;
  border-left: none;
  border-right: none;
  font-size: 11px;
  font-weight: 400;
  color: #111111;
  line-height: 17px;
}
.content-financing .analysis-item .content-table .table-col {
  box-sizing: border-box;
  padding: 3px 4px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}
.content-financing .analysis-item .content-table .table-col::after {
  content: '';
  height: 500px;
  width: 0;
  border-right: 1px solid #ebf1fc;
  position: absolute;
  right: 0;
  top: -100px;
}
.content-financing .analysis-item .content-table .table-col:last-child::after {
  border: none;
}
.content-financing .analysis-item .content-table .table-col1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content-financing .analysis-item .content-table .content-table-header {
  background: #f4f9fe;
  overflow: hidden;
}
.content-financing .analysis-item .content-table .content-table-header .table-col {
  text-align: center;
}
.content-financing .analysis-item .content-table .content-table-body .table-item {
  border-top: 1px solid #ebf1fc;
  overflow: hidden;
}
.content-financing .analysis-item .content-table .content-table-body .table-item:nth-child(even) {
  background: #fbfeff;
}
.content-financing .analysis-item .content-table .content-table-body .table-col2 {
  text-align: right;
}
.content-financing .analysis-item .more {
  font-size: 11px;
  font-weight: 400;
  color: #a6a6a6;
  padding-top: 5px;
}
.content-financing .analysis-item .more .iconfont {
  font-size: 11px;
}
.content-financing .analysis-accounts .analysis-accounts-item {
  width: calc(50% - 10px);
}
.content-financing .analysis-accounts .analysis-accounts-item .table-title {
  color: #6c6c6c;
  line-height: 13px;
  padding-bottom: 4px;
}
.content-financing .analysis-accounts .analysis-accounts-item .content-table .table-col2 {
  width: 84px;
}
.content-financing .analysis-echarts .analysis-accounts-item {
  width: calc(50% - 10px);
  height: 140px;
}
.content-financing .analysis-echarts .analysis-accounts-item img {
  display: block;
  width: 100%;
}
.content-financing .analysis-echarts .content-table {
  margin-top: 11px;
}
.content-financing .analysis-echarts .content-table .content-table-body .table-col {
  text-align: right;
}
.content-financing .analysis-echarts .content-table .content-table-body .table-col5 {
  padding-left: 9px;
}
.content-financing .analysis-echarts .content-table .align-center {
  text-align: center !important;
}
.content-financing .analysis-echarts .content-table .table-col1 {
  width: 54px;
  word-break: break-all;
}
.content-financing .analysis-echarts .content-table .table-col1 .font10,
.content-financing .analysis-echarts .content-table .table-col1 .font11 {
  transform-origin: center;
}
.content-financing .analysis-echarts .content-table .table-col2 {
  width: 80px;
  flex: none;
}
.content-financing .analysis-echarts .content-table .table-col3 {
  width: 70px;
}
.content-financing .analysis-echarts .content-table .table-col3 .font10,
.content-financing .analysis-echarts .content-table .table-col3 .font11 {
  transform-origin: center;
}
.content-financing .analysis-echarts .content-table .table-col4 {
  width: 56px;
}
.content-financing .analysis-echarts .content-table .table-col5 {
  width: 74px;
}
.content-financing .analysis-echarts .content-table .table-col6 {
  width: 57px;
}
.content-financing .analysis-echarts .content-table .table-col7 {
  width: 60px;
}
.content-financing .analysis-echarts .content-table .table-col8 {
  width: 60px;
}
.content-nodata {
  padding-left: 20px;
}
