@import url('font/iconfont.css');
@import url('reset.css');
@import url('1.css');
@import url('2.css');
@import url('3.css');
@import url('4.css');
@import url('5.css');
.print-padding {
  padding: 0 32px;
}
.content-disclaimer,
.content-top .company-intro .value,
.content-analysis .analysis-item .analysis-item-content,
.content-financing .analysis-item .analysis-item-content,
.content-credit .analysis-item .analysis-item-content,
.content-credit .other-banner .other-banner-detail .sub-intro {
  text-align: justify;
  word-break: normal;
}
